.main-window {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  justify-content: space-evenly;
}

.stage {
  background-color: rgb(92, 92, 92);
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  color: white;
  text-align: center;
}

.stage img {
  max-width: 100px;
}

.chatlog {
  background-color: white;
  padding: 10px;
}

.participation-log {
  background-color: lightgreen;
  padding: 10px;
}
